/Atividades/Atividade01/nbproject/private/
/Atividades/Atividade01/build/
/Atividades/Atividade01/dist/
/Atividades/Atividade03/nbproject/private/
/Atividades/Atividade03/build/
/Atividades/Atividade03/dist/
/Aulas/Aula4/nbproject/private/
/Aulas/Aula4/build/
/Atividades/Atividade04/nbproject/private/
/Atividades/Atividade04/build/
/Atividades/Atividade06/nbproject/private/
/Atividades/Atividade06/build/
/Atividades/Atividade06/dist/
/Atividades/Atividade11/nbproject/private/