body{
    background: url(img/background.jpg);
    background-size: 100%;
    color: gold;
    text-align: center;
    font-family: sans-serif;
    padding-top: 50px;
}
h1 {
    font-size: 100px;
}

a {
    text-decoration: none;
    padding: 5px 30px;
    background: gold;
    color: black;
    border-radius: 50px;
    box-shadow: 3px 3px silver;
}

a:hover {
    background: black;
    color: white;
    
}
